In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')
with open('result59.csv', 'r') as f:
    lines = f.readlines()

data = []

for line in lines:
    line = line.strip("'\n ").split(',')
    data.append(line)
with open('result.txt', 'r') as f:
    lines = f.readlines()
d = {}
for line in lines:
    line = line.strip()
    d[line.split()[0]] = line.split()[1].split(',')

In [14]:
for i in range(59):
    matrix = pd.read_csv('met.csv', index_col=0)

    matrix = matrix.loc[data[i]]
    matrix = matrix[d.get(str(i))]

    matrix = matrix.T

    right = matrix.apply(lambda k: len(list(k)) - list(k)[::-1].index(1)).tolist()
    left = matrix.apply(lambda k: list(k).index(1) + 1).tolist()
    pos = [[left[i],right[i],data[0][i]] for i in range(len(left))]

In [3]:
import pandas as pd

d = {}

l1, l2, l3, l4 = [], [], [], []
ls = []
with open('result3.txt', 'r') as f:
    lines = f.readlines()
for line in lines:
    line = line.strip().split()
    line[2] = line[2].split(',')

    ls.append(line[0])
    for i in range(len(line[2])):
        l1.append(line[0])
        l2.append(line[1])
        l3.append(i + 1)
        l4.append(line[2][i])
da = pd.DataFrame({'OrderNo': l4, 'GroupNo':l1, 'WorkerNo':l2, 'TaskNo':l3})

da[['GroupNo','WorkerNo','TaskNo']] = da[['GroupNo','WorkerNo','TaskNo']].astype(int)

da = da.sort_values(by=['GroupNo','WorkerNo','TaskNo'])

da.head(10)

    OrderNo  GroupNo  WorkerNo  TaskNo
866   D0601        1         1       1
867   D0352        1         1       2
868   D0581        1         1       3
869   D0423        1         1       4
870   D0026        1         2       1
871   D0613        1         2       2
872   D0126        1         2       3
873   D0096        1         2       4
874   D0496        1         2       5
875   D0776        1         2       6

In [4]:
da.to_csv('result3.csv', encoding='GBK', index=None)